
.timeline-date-label {
	font-family: Consolas,
				   Monaco,
				   "Nimbus Mono L",
				   monospace;
 }

.timeline-event-label,.timeline-event-bubble-body , .timeline-event-bubble-title, .timeline-event-bubble-time {
font-family: Tahoma,
             Helvetica,
             "Nimbus Sans L",
             sans-serif;
font-size: 80%;
 }